<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Language" content="fa">
<link rel="stylesheet" type="text/css" href="main.css">
<link rel="stylesheet" type="text/css" href="../template/admin/rashcms/main.css">
<script language="javascript" src="../template/admin/rashcms/ajax.js" type="text/javascript"></script>
<title>RashCMS:: پشتيبان گيري</title>
<script>
var CurrentStep = 1;
function SetCurrent(val)
{
	hideid("editing_area");

	 if(CurrentStep!=val)
	 {
	 gi('div_'+CurrentStep).style.display = 'none';
	 gi('a_title_'+CurrentStep).className = '';
	 gi('div_'+val).style.display = 'block';
	 gi('a_title_'+val).className = 'current';
	 }
	CurrentStep = val;
	if(val == 2)
	connect('pages/listbacks.php',"r",'ajax_tabs_1_content',loadingt,'');

}
function Mform(action){
hideid("editing_area");
connect('pages/backup.php',"task=new",'ajax_tabs_0_content',loadingt,'');
}
function delback(id){
hideid("editing_area");
var msg = "آيا از حذف اين فايل پشتيبان اطمينان داريد؟\n عمليات حذف برگشت پذير نمي باشد.";
if(confirm(msg))
{
connect('pages/backup.php',"task=del&id="+id,'ajax_tabs_1_content_1',loadingt,'delete_back');
}
}
function restore(id){
var msg = "آيا از بازگرداني اين فايل پشتيبان اطمينان داريد؟\nبا بازگرداني اين فايل ، اطلاعات بك آپ جايگزين اطلاعات فعلي خوهند شد.\nاكيدا توصيه مي شود قبل از بازگرداني فايل ، يك پشتيبان از اطلاعات فعلي دريافت كنيد تا در صورت بروز مشكل در حين اجراي عمليات اطلاعات شما آسيب نبيند.";

if(confirm(msg))
{
connect('pages/backup.php',"task=doback&id="+id,'ajax_tabs_1_content_1',loadingt,'');
}

}
function dl(id)
{
gi("id").value = id;
document.rezashfrm.submit() ;
gv('ajax_tabs_1_content_1') = loadingt;
}
</script>
<style type="text/css">
.style1 {
	color: #008000;
}
.style2 {
	color: #FF3399;
}
</style>
</head>
<body>
<div align="center">
<div class="main">
<table align="center" cellpadding="0" cellspacing="3" width="850">
	<tr>
		<td height="305" width="170" valign="top">
		<div class="list">
		<tag:rashcms_links>
		<div class="point"> <a target=[target] href=[url] class="[class]">[title]</a></div>
		</tag:rashcms_links>
<div class="point"> <a target=_blank href="http://rashcms.com" class="rashcms">راش سي ام اس</a></div>
<div class="point"> <a target=_blank href="[site]" class="rash">مشاهده سايت</a></div>
<div class="point"> <a target=_blank href="login.php?logout=true" class="rashcms">خروج از سيستم</a></div>
</div>
		</td>
		<td width="670" valign="top">
		<table align="center" cellpadding="0" cellspacing="3">
			<tr>
				<td height="86" width="425" valign="middle">
				<div class="point">سيستم مديريت محتواي راش</div>
				<div class="point">امروز 
				<b>[todayfarsi]</b> 
				مي باشد .</div>
				<div class="point"><font color="#FF33CC"><b>[fullname]</b></font> عزیز به مدیریت سیستم خوش آمدید ! خسته نباشید .</div>
				<div class="point">آی پی : 
				[ip]</div></td>
				<td height="86" width="236">
				<p align="center">
				<img border="0" src="../template/admin/rashcms/images/logo.png" width="207" height="63"></td>
			</tr>
			<tr>
				<td height="12" width="425" valign="middle">
				</td>
				<td height="12" width="236">
				</td>
			</tr>
			<tr>
				<td width="664" colspan="2" valign="top">
									
			</td>
			</tr>
			<tr>
				<td height="261" width="664" colspan="2" valign="top">
									
				<div class="page">
				
				<div align="center">
				<ul class="tabs">
				  <li><a id="a_title_1" onclick="SetCurrent(1);return false;" class="current" href="#">
			ايجاد پشتيبان</a></li>
					
				  <li><a id="a_title_2" onclick="SetCurrent(2);return false;" href="#">
				مديريت پشتيبان ها</a></li>
		
				</ul>
				</div>
				
<div id="div_1"> 
<form onsubmit="Mform('backup');return false" method=post>
<table border="0" width="100%" class="tbl" id="tabs_0_content">
<tr>
<td id="ajax_tabs_0_content"></td>
</tr>
<tr>
<td><center>
<input onclick="Mform('backup');return false;" type="submit" name="submit" value="گرفتن پشتيبان از ديتابيس" class="inp"></center></td>
</tr>
</table></form>

</div>
<div id="div_2"  style="display:none" >
<table border="0" width="100%" class="tbl" id="tabs_1_content">
<tr>
<td>
<div class='MsgHead info'><div class='MsgBody'>اكيدا توصيه مي شود قبل از بازگرداني فايل پشتيبان از اطلاعات فعلي پشتيبان گيري كنيد.</div></div>

<iframe style="display:none" name="rezash" marginwidth="0" marginheight="0" border="0" frameborder="0" height="1" width="1" src="pages/index.html" scrolling="no">
</iframe>
<form name=rezashfrm action="pages/download.php" method=post target=rezash>
<input type="hidden" name="id" id="id" value="" class="inp"></center></td>

</form>
<div id=edit>
<div id="ajax_tabs_1_content_1"></div>
</div>
</tr><tr>
</td>
<td id="ajax_tabs_1_content">
</td>

</tr>

</table>

</div>
<br><br><br><br><br>
</div>
				<p>&nbsp;</td>
			</tr>
		</table>
		<p align="center" style="height: 28px">كليه حقوق براي
		<a href="http://rashcms.com" target="_blank"><strong>راش سي ام اس</strong></a> محفوظ است. 
		<strong><a href="http://mihanphp.com" target="_blank">مــــــيهن پي اچ پي</a></strong><br><br>
		</td>
	</tr>
	</table>
	
</div>
</div>
</body>
</html>