<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Language" content="fa">
<table border="0" width="100%" class="tbl" id="tabs_2_content_in">
<tr>
<td bgcolor="#d1dde0" height="26" align="center" width="35%">
<b>عنوان پيام</b></td>
<td bgcolor="#d1dde0" height="26" align="center" width="16%">
<b>نام فرستنده</b></td>
<td bgcolor="#d1dde0" height="26" align="center" width="19%">
<b>نام كاربري فرستنده</b></td>
<td bgcolor="#d1dde0" height="26" align="center" width="21%">
<b>پست الكترونيك</b></td>
<td bgcolor="#d1dde0" height="26" align="center" width="7%">
<b>عملیات</b></td>
</tr><tag:listtr>
<tr>
<td bgcolor="#f3f7f8" height="26" align="center" width="35%">
<input type="hidden" name="ajax_edit_email_[id]" id="ajax_edit_email_[id]" value="[email]">
<input type="hidden" name="ajax_edit_name_[id]" id="ajax_edit_name_[id]" value="[name]">
<input type="hidden" name="ajax_edit_regdate_[id]" id="ajax_edit_regdate_[id]" value="[regdate]">
<input type="hidden" name="ajax_edit_username_[id]" id="ajax_edit_username_[id]" value="[username]">
<input type="hidden" name="ajax_edit_display_[id]" id="ajax_edit_display_[id]" value="[showname]">
<input type="hidden" name="ajax_edit_yid_[id]" id="ajax_edit_yid_[id]" value="[yid]">
<input type="hidden" name="ajax_edit_gid_[id]" id="ajax_edit_gid_[id]" value="[gid]">
<input type="hidden" name="ajax_edit_tell_[id]" id="ajax_edit_tell_[id]" value="[tell]">
<input type="hidden" name="ajax_edit_avatar_[id]" id="ajax_edit_avatar_[id]" value="[avatar]">
<input type="hidden" name="ajax_edit_ip_[id]" id="ajax_edit_ip_[id]" value="[ip]">
<input type="hidden" name="ajax_edit_stat_[id]" id="ajax_edit_stat_[id]" value="[stat]">
<font ><a onclick="readpm('[id]','inbox');return false;" href="javascript:void(0);">[title]</a></font></td>
<td bgcolor="#f3f7f8" height="26" align="center" width="16%">
<font >[name]</font></td>
<td bgcolor="#f3f7f8" height="26" align="center" width="19%">
[username]</td>
<td bgcolor="#f3f7f8" height="26" align="center" width="21%">
[email]</td>
<td bgcolor="#f3f7f8" height="26" align="center" width="7%">
<a onclick="delpm('[id]')" href="javascript:void(0)"><img border='0' src='../template/admin/rashcms/images/trash.gif'></a>
</td>
</tr></tag:listtr>
<tr>
<td bgcolor="#d1dde0" height="26" align="center" colspan="8">
<tag:pages>[<a href="[pagelink]"><b>[page]</b></a>]</tag:pages>
</td>
</tr>
</table>