<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Language" content="fa">
<table border="0" width="100%" class="tbl" id="tabs_2_content_in">
<tr>
<td bgcolor="#d1dde0" height="26" align="center">
<b>آي پي</b></td>
<td bgcolor="#d1dde0" height="26" align="center">
<b>عملیات</b></td>
</tr><tag:listtr>
<tr>
<td bgcolor="#f3f7f8" height="26" align="center">
<span style="display:none">
</span>
[ip]</td>
<td bgcolor="#f3f7f8" height="26" align="center">
<a onclick="delip('[id]')" href="javascript:void(0)"><img border='0' src='../template/admin/rashcms/images/trash.gif'></a>
</td>
</tr></tag:listtr>
</table>