<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Language" content="fa">
<table border="0" width="100%" class="tbl" id="tabs_2_content_in">
<tr>
<td bgcolor="#d1dde0" height="26" align="center">
<b>تاریخ پشتیبان گیری</b></td>
<td bgcolor="#d1dde0" height="26" align="center">
<b>باز گرداني پشتيبان</b></td>
<td bgcolor="#d1dde0" height="26" align="center">
<b>دانلود فايل پشتيبان</b></td>
<td bgcolor="#d1dde0" height="26" align="center">
<b>حذف</b></td>
</tr><tag:listtr>
<tr>
<td bgcolor="#f3f7f8" height="26" align="center">
[name]</td>
<td bgcolor="#f3f7f8" height="26" align="center">
<a onclick="restore('[fname]')" href="javascript:void(0)"><img border='0' src='../template/admin/rashcms/images/restore.gif'></a>&nbsp;
</td>
<td bgcolor="#f3f7f8" height="26" align="center">
<a onclick="dl('[fname]')" href="#dl">دانلود</a></td>
<td bgcolor="#f3f7f8" height="26" align="center">
<a onclick="delback('[fname]')" href="javascript:void(0)"><img border='0' src='../template/admin/rashcms/images/trash.gif'></a></td>
</tr></tag:listtr>
</table>