<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Language" content="fa">
<table border="0" width="100%" class="tbl" id="tabs_2_content_in">
<tr>
<td bgcolor="#d1dde0" height="26" align="center">
<b>نام كاربر</b></td>
<td bgcolor="#d1dde0" height="26" align="center">
<b>نام كاربري</b></td>
<td bgcolor="#d1dde0" height="26" align="center">
<b>پست الكترونيك</b></td>
<td bgcolor="#d1dde0" height="26" align="center">
<b>تاريخ عضويت</b></td>
<td bgcolor="#d1dde0" height="26" align="center">
<b>سطح دسترسي</b></td>
</tr><tag:listtr>
<tr>
<td bgcolor="#f3f7f8" height="26" align="center">

<span style="display:none">
</span>
<font color="[usercolor]">[name]</font></td>
<td bgcolor="#f3f7f8" height="26" align="center">
<font color="[usercolor]">[username]</font></td>
<td bgcolor="#f3f7f8" height="26" align="center">
[email]</td>
<td bgcolor="#f3f7f8" height="26" align="center">
[regdate]</td>
<td bgcolor="#f3f7f8" height="26" align="center">
<a onclick="edituser('[id]')" href="javascript:void(0)"><img border='0' src='../template/admin/rashcms/images/edit.gif'></a>
</td>
</tr></tag:listtr>
<tr>
<td bgcolor="#d1dde0" height="26" align="center" colspan="8">
<tag:pages>[<a href="[pagelink]"><b>[page]</b></a>]</tag:pages>
</td>
</tr>
</table>